h1, h2, h3, h4, h5, h6, svg, div, select, option, input, button, ul, ol, li, table, tr, td {
    margin: 0px;
    padding: 0px;
}

select {
    width: 100px;
    height: 20px;
}

.box {
    border-collapse: collapse;
    border: 1px solid #000000;
}

.boxcell {
    width: 85px;
    height: 10px;

    text-align: center;
}

#bar-wrapper {
    float: left;
    margin-top: 4px;
}

#line-wrapper {
    float: left;
    margin-top: 4px;
}

#table-wrapper {
    clear: both;
}